html {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "Lucid Serif VF", Georgia;
    background-color: #1a1a1a;
    color: #fbfbfb;
}

h1 {
    font-size: 50;
}

p, ol, ul{
    margin-top:0;
}

p {
    line-height:180%;
}

ol,ul {
    padding: 0;
    list-style: none;
}

pink {
    color: pink;
}

.listy li{
    list-style-type: circle;
    text-align: left;
    margin-left: auto;
    margin-right:auto;
    width: 700px;
}

header {
    overflow: hidden;
}

#topboy {
    float:left;
    padding:none;
    margin:none;
    height:60px;
    width:30%;
}

#top-header{
    text-align: center;
    height: 60px;
}

a:link {
    color: pink;
    text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 176, 189);
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: none;
}

#menu {
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}

#menu ul{
    text-align: center;
    float:right;
    margin: none;
    background: rgb(255, 192, 252);
}

#menu li {
    display: inline-block;
    padding: none;
    margin: none;
}

#menu li a, #menu li span{
    display: inline-block;
    padding: 0em 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
}

#menu li a{
    color: #242424;
}

#menu li:hover a, #menu li span {
    background: pink;
    color: #000000;
    border: 0px solid red;
    text-decoration: none;
    
}

.container{
    margin: 0px auto;
    width:1200px;
}